/* 
body {
  background-color: crimson 
} */

/* width */
::-webkit-scrollbar {
  display: none;
}

/* .carousel-container{
  width:100%;
  height: 100px;
} */

.admin-container{
  background-image : url("https://png.pngtree.com/png-clipart/20220131/original/pngtree-pizza-shop-selling-different-pizza-pages-there-is-an-eating-service-png-image_7256996.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}

.login-container{
  background-image: url("https://img.freepik.com/premium-vector/pizza-restaurant-with-chief_90508-19.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:right;
}

.admin-login-container{
  background-image: url("https://freepngclipart.com/save-png/72646-cuisine-salad-antipasto-pizzas-chef-pizza-italian/1500x1500");
  background-repeat: no-repeat;
  background-size:35%;
  background-position:left;

}

.register-container{
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/47/29/cartoon-pizza-shop-with-delivery-man-at-window-vector-35844729.jpg");
  background-repeat: no-repeat;
  background-size:35%;
  background-position:left;

}

.register-image{
  background-image: url("https://images.squarespace-cdn.com/content/v1/6039a573fc57820778ea9654/1617228097032-O07KJ0MLN1XNBDG49HCC/PH_LOGO_1.png");
  background-repeat: no-repeat;
  background-size:35%;
  background-position:right;
}

.login-image{
  background-image: url("https://images.squarespace-cdn.com/content/v1/6039a573fc57820778ea9654/1617228097032-O07KJ0MLN1XNBDG49HCC/PH_LOGO_1.png");
  background-repeat: no-repeat;
  background-size:35%;
  background-position:left;
}
